<form name="addLink" class="link-add">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" ng-if="!add.condition.linkTmpAdded">
                <div class="link-add-wrapper">
                    <input type="text" class="form-control link" name="link" ng-model="add.data.link" required url />
                    <button ng-click="add.fn.checkLink();"  class="btn btn-primary pull-right" ng-disabled="add.condition.disabledAddButton || addLink.$invalid" ><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <label>Add a new link</label>
            </div>
            <div class="form-group" ng-if="add.condition.linkTmpAdded">
                <h3 class="link-add-anchor"><a href="{{add.data.link}}">{{add.data.link}}</a></h3>
                <label>Title</label>
                <input type="text" name="title" required="" ng-minlength="5" maxlength="100" ng-model="add.data.title" class="form-control" value="{{add.data.title}}" />
                <counter count="addLink.title.$viewValue" max="100"></counter>
            </div>
            <div class="form-group" ng-if="add.condition.linkTmpAdded">
                <ul ng-if="add.addedTags" class="link-add-tags">
                    <li ng-repeat="item in add.addedTags">
                        <button ng-click="add.fn.removeAddedTag(item)"class="btn btn-primary btn-xs">{{item}}<span class="glyphicon glyphicon-remove"></span></button>
                    </li>
                </ul>
                <label>Tags</label>
                <input type="text" name="tags"  ng-keydown="add.fn.checkAddedTags($event);" ng-blur="add.fn.checkAddedTags($event);" ng-keyup="add.fn.removeWC($event);" class="form-control">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <label>Separated by comma or enter - max 10 tags</label>
                    </div>
                </div>
            </div>


            <div class="form-group" ng-if="add.condition.linkTmpAdded">
                <label>Comment</label>
                <textarea class="form-control" name="comment" ng-model="add.data.comment" ng-maxlength="1000" maxlength="1000"></textarea>
                <counter count="addLink.comment.$viewValue" max="1000"></counter>
            </div>
            <div class="form-group rating-wrap" ng-if="add.condition.linkTmpAdded">
                <label>Rating</label>
                <div class="rating">
                    <input type="radio" id="star10" name="rating" ng-model="add.data.rating" value="10" /><label class = "full" for="star10" title="10 stars"></label>
                    <input type="radio" id="star9" name="rating" ng-model="add.data.rating" value="9" /><label class = "full" for="star9" title="9 stars"></label>
                    <input type="radio" id="star8" name="rating" ng-model="add.data.rating" value="8" /><label class = "full" for="star8" title="8 stars"></label>
                    <input type="radio" id="star7" name="rating" ng-model="add.data.rating" value="7" /><label class = "full" for="star7" title="7 stars"></label>
                    <input type="radio" id="star6" name="rating" ng-model="add.data.rating" value="6" /><label class = "full" for="star6" title="6 stars"></label>
                    <input type="radio" id="star5" name="rating" ng-model="add.data.rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                    <input type="radio" id="star4" name="rating" ng-model="add.data.rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                    <input type="radio" id="star3" name="rating" ng-model="add.data.rating" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                    <input type="radio" id="star2" name="rating" ng-model="add.data.rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                    <input type="radio" id="star1" name="rating" ng-model="add.data.rating" value="1" checked="checked"/><label class = "full set" for="star1" title="1 star"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="link-add-summary" ng-if="add.condition.linkTmpAdded">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button ng-click="add.fn.saveLink();" ng-disabled="addLink.$invalid" class="btn btn-primary btn-lg">Add link</button>
                </div>
                <div class="col-md-1 text-center ">
                    <a class="back" ng-click="add.fn.back();">Cancel</a>
                </div>
            </div>
        </div>

    </div>
</form>
