<form name="addLink" class="add-link">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" ng-if="!linkTmpAdded">
                <div class="add-wrapper">
                    <input type="text" class="form-control link" name="link" ng-model="data.link" required tabindex="0" minlength="3" />
                    <button ng-click="checkLink();"  class="btn btn-primary pull-right" ng-disabled="disabledAddButton || addLink.$invalid" ><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <label>Add a new link</label>
            </div>
            <div class="form-group" ng-if="linkTmpAdded">
                <h3 class="linkAnchor"><a href="{{data.link}}">{{data.link}}</a></h3>
                <input type="text" name="title" ng-model="data.title" class="form-control" value="{{data.title}}" />
                <label>Title</label>
            </div>
            <div class="form-group" ng-if="linkTmpAdded">
                <input type="text" class="form-control" ng-model="data.tags" required="">
                <div class="row">
                    <div class="col-md-6">
                        <label>Tags</label>
                    </div>
                    <div class="col-md-6 text-right">
                        <label>Separated by comma</label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="linkTmpAdded">
                <textarea class="form-control" ng-model="data.comment"></textarea>
                <div class="row">
                    <div class="col-md-6">
                        <label>Comment</label>
                    </div>
                    <div class="col-md-6 text-right">
                        <label>1000</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="summary" ng-if="linkTmpAdded">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button ng-click="saveLink();" class="btn btn-primary btn-lg">Add link</button>
                </div>
            </div>
        </div>

    </div>
</form>
