<form name="addLink" class="link-add">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" ng-if="!add.condition.linkTmpAdded">
                <div class="link-add-wrapper">
                    <input type="text" class="form-control link" name="link" ng-model="add.data.link" required tabindex="0" minlength="3" />
                    <button ng-click="add.fn.checkLink();"  class="btn btn-primary pull-right" ng-disabled="add.condition.disabledAddButton || addLink.$invalid" ><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <label>Add a new link</label>
            </div>
            <div class="form-group" ng-if="add.condition.linkTmpAdded">
                <h3 class="link-add-anchor"><a href="{{add.data.link}}">{{add.data.link}}</a></h3>
                <input type="text" name="title" required="" minlength="5" ng-model="add.data.title" class="form-control" value="{{add.data.title}}" />
                <label>Title</label>
            </div>
            <div class="form-group" ng-if="add.condition.linkTmpAdded">
                <ul ng-if="add.addedTags" class="link-add-tags">
                    <li ng-repeat="item in add.addedTags">
                        <button ng-click="add.fn.removeAddedTag(item)"class="btn btn-primary btn-xs">{{item}}<span class="glyphicon glyphicon-remove"></span></button>
                    </li>
                </ul>
                <input type="text" ng-keydown="add.fn.checkAddedTags($event);" ng-blur="add.fn.checkAddedTags($event);" ng-keyup="add.fn.removeWC($event);" class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>Tags</label>
                    </div>
                    <div class="col-md-6 text-right">
                        <label>Separated by comma or enter - max 10 tags</label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="add.condition.linkTmpAdded">
                <textarea class="form-control" ng-model="add.data.comment"></textarea>
                <div class="row">
                    <div class="col-md-6">
                        <label>Comment</label>
                    </div>
                    <div class="col-md-6 text-right">
                        <label>1000</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="link-add-summary" ng-if="add.condition.linkTmpAdded">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button ng-click="add.fn.saveLink();" ng-disabled="addLink.$invalid" class="btn btn-primary btn-lg">Add link</button>
                </div>
                <div class="col-md-1 text-center ">
                    <a class="back" ng-click="add.fn.back();">Back</a>
                </div>
            </div>
        </div>

    </div>
</form>
