<div class="profile" style="background-image:url('{{userprofile.data.wallpaper}}')">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="profile-image text-center">
                            <img ng-src="{{userprofile.data.avatar}}" />
                        </span>
                    </div>
                    <div class="col-sm-9">
                        <div class="profile-details">
                            <h3>
                                <span>{{userprofile.data.fullname}}</span>
                                <div class="ratVal" title="User profile rate">({{userprofile.data.rating}})
                                    <div class="rating" ng-if="!followBtn">
                                        <input type="radio" id="star5" ng-click="userprofile.fn.rating(5)" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                                        <input type="radio" id="star4" ng-click="userprofile.fn.rating(4)" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                                        <input type="radio" id="star3" ng-click="userprofile.fn.rating(3)" name="rating" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                                        <input type="radio" id="star2" ng-click="userprofile.fn.rating(2)" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                                        <input type="radio" id="star1" ng-click="userprofile.fn.rating(1)" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                                    </div>
                                </div>
                            </h3>
                            <p>{{userprofile.data.city}}{{userprofile.data.country}}</p>
                        </div>
                        <ul class="profile-social">
                            <li ng-show="userprofile.data.fb"><a ng-href="{{userprofile.data.fb}}" target="_blank"><img src="{{userprofile.path.imgContent}}icon_fb.png"/></a></li>
                            <li ng-show="userprofile.data.twitter"><a ng-href="{{userprofile.data.twitter}}" target="_blank"><img src="{{userprofile.path.imgContent}}icon_twitter.png"/></a></li>
                            <li ng-show="userprofile.data.g"><a ng-href="{{userprofile.data.g}}" target="_blank"><img src="{{userprofile.path.imgContent}}icon_g+.png"/></a></li>
                            <li ng-show="userprofile.data.www"><a ng-href="{{userprofile.data.www}}" target="_blank"><img src="{{userprofile.path.imgContent}}icon_www.png"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="profile-stats text-right">
                    <li title="Links"><span class="glyphicon glyphicon-link"></span><em>{{dataListLinks.length}}</em></li>
                    <li title="Tags"><span class="glyphicon glyphicon-tasks"></span><em>{{userprofile.data.tagsCounter}}</em></li>
                    <li title="Followers"><span class="glyphicon glyphicon-heart"></span><em>{{userprofile.data.followers}}</em></li>
                </ul>

                <div ng-if="userInfo.logged">
                    <button ng-if="userprofile.data.follow && userprofile.data.checkFollow" ng-click="userprofile.fn.addFollow();"class="btn btn-primary btn-lg pull-right profile-follow">Follow</button>
                    <button ng-if="!userprofile.data.checkFollow" ng-click="userprofile.fn.unFollow();"class="btn btn-primary btn-lg pull-right profile-follow">Unfollow</button>
                </div>
            </div>
        </div>
    </div>
</div>