<div ng-controller="PasswordController" class="">
    <sidebar-nav nav-data="global.sidebar"></sidebar-nav>
    <div class="main-content nav {{global.sidebar.state}}" class="form-password">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form name="form" class="form" novalidate ng-submit="pass.fn.saveData(form.$valid)">
                        <h1 class="title">Password</h1>
                        <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>Change password</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div ng-bind-html="pass.msg "></div>

                                            <div class="form-group">
                                                <label>old password</label>
                                                <input type="password" class="form-control" ng-class="form.old.$invalid && pass.error.show ? 'form-error' : ''" ng-model="pass.data.old" name="old" value="" required  ng-minlength="5" />
                                                <div ng-show="pass.error.show" ng-messages="form.old.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>new password</label>
                                                <input type="password" class="form-control" ng-class="form.password.$invalid && pass.error.show ? 'form-error' : ''" ng-model="pass.data.password" name="password" required />
                                                <div ng-show="pass.error.show" ng-messages="form.password.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                <strength data="pass.data.password"></strength>
                                            </div>
                                            <div class="form-group">
                                                <label>repeat new password</label>
                                                <input type="password" class="form-control" ng-class="form.repeat.$invalid && pass.error.show ? 'form-error' : ''" ng-model="pass.data.repeat" name="repeat" value="" required ng-minlength="6" />
                                                <div ng-show="pass.error.show" ng-messages="form.repeat.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button ng-click="pass.fn.saveData();" class="btn btn-primary btn-lg form-submit-btn ">Save</button>
                        </div>

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>