<div class="link-list">
    <div class="panel panel-default " ng-if="!popularLinks">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{userInfo.username}} links list</h3>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="filter links by" class="form-control pull-right search" ng-model="search" />
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul ng-if="dataListLinks">
                <li ng-repeat="link in dataListLinks | filter: search" class="link-list-item" data-id="{{link.id}}">
                    <div class="row">
                        <div class="col-md-9">
                            <a ng-href="link.url"><h3>{{link.title}} <span>{{link.host}}</span></h3></a>
                        </div>
                        <div class="col-md-3 link-list-time text-right">
                            {{link.date | date : 'd/MM/yyyy' }}
                        </div>
                        <div class="col-md-12">
                            <blockquote ng-show="link.comment">{{link.comment}}</blockquote>
                        </div>

                        <div class="col-md-2">
                            <span class="link-list-counter all" title="Counter link">{{link.counterAll}}</span>
                        </div>
                        <div class="col-md-6 link-list-tags">
                            <span>tags:</span>
                            <ul ng-if="link.tags">
                                <li ng-repeat="item in link.tags"><a href="#" ng-click="">#{{item}}</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-right link-list-buttons">
                            <button class="btn btn-default btn-xs" title="Edit" ng-click="list.fn.edit(link.id);">Edit <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                            <button class="btn btn-default btn-xs" title="Delete" ng-click="list.fn.delete(link.id);">Delete <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="popularLinks">
        <h3>The most popular links</h3>
        <ul ng-if="dataListLinks">
            <li ng-repeat="link in dataListLinks">

                <span class="badge" title="{{link.counter}} wystąpień"></span>
                <blockquote><a href="{{link.url}}" target="_blank">{{link.url}}</a> - {{link.counter}}</blockquote>
            </li>
        </ul>
    </div>
</div>