<div ng-controller="FaqController">
    <div class="wrapper wrapper-gray static">
        <div class="container static-faq">
            <div class="row">
                <div class="col-md-12">
                    <h1>FAQ</h1>
                    <ul class="static-faq-list row">
                        <li class="col-md-9 animation-list" ng-repeat="item in faq.data.list | filter:global.search.text as result" ng-class-even="'col-md-offset-3'">
                            <h3 title="Question">{{item.title}}</h3>
                            <div class="text" title="Answer" ng-bind-html="item.desc"></div>
                        </li>
                        <li ng-if="result.length === 0" class="col-md-12 animation-list">
                            <h3>No result</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>