<div class="user-list">
    <div class="panel panel-default" ng-if="!popularUsers">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{userInfo.username}} followed users</h3>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="filter links by" class="form-control pull-right search" ng-model="search" />
                </div>
            </div>
        </div>
        <div class="panel-body" ng-if="users.length > 0">
            <ul>
                <li ng-repeat="user in users | filter: search as result" class="user-list-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><a target="_blank" ng-href="#/user/{{user.username}}">{{user.name}} {{user.surname}} <span>({{user.username}})</span></a></h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Latest added links</th>
                                                <th>tags</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in user.links">
                                                <td>
                                                    <a target="_blank" href="{{item.url}}">{{item.title}} <span>({{item.host}})</span></a>
                                                </td>
                                                <td>
                                                    <div class="user-list-item-tag">
                                                        <ul>
                                                            <li ng-repeat="tag in item.tags">#{{tag}}</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 link-list-time text-right">
                            {{link.date | date : 'd/MM/yyyy' }}
                        </div>
                        <div class="col-md-12">
                            <blockquote ng-show="link.comment">{{link.comment}}</blockquote>
                        </div>
                    </div>
                </li>
                <li ng-if="result.length === 0" class="user-list-item clear-border">
                    <td>
                        <h3>No users</h3>
                    </td>
                </li>
            </ul>
        </div>
        <div class="panel-body" ng-if="users.length == 0">
            <ul>
                <li class="user-list-item clear-border">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>No followed users</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="popularUsers">

        <h3>The most popular followed users</h3>
        <ul>
            <li ng-repeat="user in users" class="user-list-item popular">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <h3><a ng-href="#/user/{{user.username}}">{{user.name}} {{user.surname}} <span>({{user.username}})</span></a></h3>
                            </div>
                            <div class="col-md-3 text-right">
                                Followers: {{user.total}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Latest added links</th>
                                        <th>tags</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in user.links">
                                        <td>
                                            <a href="{{item.url}}">{{item.title}} <span>({{item.host}})</span></a>
                                        </td>
                                        <td>
                                            <div class="user-list-item-tag">
                                                <ul>
                                                    <li ng-repeat="tag in item.tags">#{{tag}}</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 link-list-time text-right">
                        {{link.date | date : 'd/MM/yyyy' }}
                    </div>
                    <div class="col-md-12">
                        <blockquote ng-show="link.comment">{{link.comment}}</blockquote>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>