<div ng-controller="PersonalController" class="wrapper-gray">
    <sidebar-nav nav-data="data.sidebar"></sidebar-nav>
    <div class="main-content nav {{data.sidebar.state}}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form name="form" class="form" novalidate ng-submit="personal.fn.saveData(form.$valid)">
                        <h1 class="title">Personal data</h1>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Personal data</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" ng-class="form.name.$invalid && personal.error.show ? 'form-error' : ''" ng-model="personal.data.name" name="name" value="{{personal.data.name}}" required ng-minlength="2" />
                                                        <div ng-show="personal.error.show" ng-messages="form.name.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Surname</label>
                                                        <input type="text" class="form-control" ng-class="form.surname.$invalid && personal.error.show ? 'form-error' : ''" ng-model="personal.data.surname" name="surname" value="{{personal.data.surname}}" required ng-minlength="2" />
                                                        <div ng-show="personal.error.show" ng-messages="form.surname.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Localization</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <select name="country" class="form-control" ng-model="personal.data.country" value="{{personal.data.country}}">
                                                            <option value="">Choose</option>
                                                            <option value="1">Afganistan</option>
                                                            <option value="2">Poland</option>
                                                            <option value="3">USA</option>
                                                        </select>

                                                    </div>
                                                    <div class="form-group"  >
                                                        <label>City</label>
                                                        <input type="text" class="form-control" ng-class="form.city.$invalid && personal.error.show ? 'form-error' : ''" name="city" ng-model="personal.data.city" value="{{personal.data.city}}" ng-minlength="2" />
                                                        <div ng-show="personal.error.show" ng-messages="form.city.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Contact</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>email</label>
                                                        <input type="text" class="form-control" ng-class="form.email.$invalid && personal.error.show ? 'form-error' : ''" ng-model="personal.data.email" name="email" value="{{personal.data.email}}" required ng-minlength="5" email />
                                                        <div ng-show="personal.error.show" ng-messages="form.email.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        <input type="text" class="form-control" ng-class="form.phone.$invalid && personal.error.show ? 'form-error' : ''" value="{{personal.data.phone}}" name="phone" ng-model="personal.data.phone" number ng-minlength="9"/>
                                                        <div ng-show="personal.error.show" ng-messages="form.phone.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Work</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Company</label>
                                                        <input type="text" class="form-control" ng-class="form.company.$invalid && personal.error.show ? 'form-error' : ''"  name="company" value="{{personal.data.company}}" ng-model="personal.data.company" ng-minlength="2"/>
                                                        <div ng-show="personal.error.show" ng-messages="form.company.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Profession</label>
                                                        <input type="text" class="form-control" ng-class="form.profession.$invalid && personal.error.show ? 'form-error' : ''" class="form-control" name="profession" value="{{personal.data.profession}}" ng-model="personal.data.profession" ng-minlength="2"/>
                                                        <div ng-show="personal.error.show" ng-messages="form.profession.$error" ng-messages-include="{{data.path.template.messages}}" class="form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-md-offset-4 text-center">
                                <button type="submit" class="btn btn-primary btn-lg form-submit-btn">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>