@color-black: #000;
@color-white: #fff;
@color-red: #cc0000;
@color-green: #33cc33;
@color-blue: #00b1de;
@color-dark-blue: #007491;
@color-gray-222: #222;
@color-gray-333: #333;
@color-gray-666: #666;
@color-gray-999: #999;
@color-gray-aaa: #aaa;
@color-gray-ccc: #ccc;
@color-gray-ddd: #ddd;
@color-gray-eee: #eee;
@color-gray-light: #f1f1f7;
@color-strength1: #cc0000;
@color-strength2: #ff6633;
@color-strength3: #ffcc00;
@color-strength4: #66cc66;
@color-strength5: #009900;

@img-content: "../img/content";
@img-layout: "../img/layout";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,800,700);

.defaultFont {
  font-family: 'Open Sans', Arial, Helvetica,sans-serif;
}
.ArialFont {
  font-family: Arial, Helvetica,sans-serif;
}

.scale(@value:1.05){
  transform: scale(@value, @value);
}

.transition(@time : 0.3s){
  transition: all @time ease-in;
}

// @radius -> 10px | 50% | 10px 0 | 10px 0 10px 0
.border-radius(@radius: 0) {
  border-radius: @radius;
}

// .font-px-to-em(15)
// .font-px-to-em(15px)
// .font-px-to-em(15px, 14px)
// .font-px-to-em(15, 14px)
// .font-px-to-em(15px, 14)
.font-px-to-em(@size: 14, @base: 14) {
  font-size: unit(@size / @base, em);
}

@-webkit-keyframes movingbar {
  0% {right:50%;left:50%}
  99.9% {right:0;left:0}
  100% {right:50%;left:50%}
}
@-moz-keyframes movingbar {
  0% {right:50%;left:50%}
  99.9% {right:0;left:0}
  100% {right:50%;left:50%}
}
@keyframes movingbar {
  0% {right:50%;left:50%}
  99.9% {right:0;left:0}
  100% {right:50%;left:50%}
}
@-webkit-keyframes changebar {
  0% {background-color:red;}
  33.3% {background-color:red;}
  33.33% {background-color:@color-green;}
  66.6% {background-color:@color-green;}
  66.66% {background-color:@color-black;}
  99.9% {background-color:@color-black;}
}
@-moz-keyframes changebar {
  0% {background-color:red;}
  33.3% {background-color:red;}
  33.33% {background-color:@color-green;}
  66.6% {background-color:@color-green;}
  66.66% {background-color:@color-black;}
  99.9% {background-color:@color-black;}
}
@keyframes changebar {
  0% {background-color:red;}
  33.3% {background-color:red;}
  33.33% {background-color:@color-green;}
  66.6% {background-color:@color-green;}
  66.66% {background-color:@color-black;}
  99.9% {background-color:@color-black;}
}