@import "config";

.header {
  position: fixed;
  background: @color-white;
  z-index:999;
  top:0;
  left:0;
  width:100%;
  box-shadow:0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
  .container{
    width:100%;
  }
  .brand {
    padding:8px 0 0 0;
    width:170px;
    margin:0 30px 0 0;
    img {
      width:100%;
    }
  }
  .nav{
    li{
      .font-px-to-em(14px);
      text-transform: uppercase;
      a{
        color:@color-black;
        border-top:2px solid @color-white;
        transition: all .2s;
        padding:13px 15px 17px 15px;
        &:hover{
          color:@color-blue;
          background: none;
          border-color:@color-blue;
        }
        &:focus{
          background: none;
        }
      }
    }
  }
  .actions {
    .btn {
      margin:10px 0 0 20px;
    }
    .search-field {
      height:30px;
      padding:5px 10px;
      margin:12px 0 0 0;
      border:1px solid @color-gray-ddd;
      .border-radius(4px);
      width:100%;
    }
  }
  .notifi{
    .font-px-to-em(18);
    margin:15px 10px 0 0;
    vertical-align: top;
    color:@color-gray-333;
    display: inline-block;
    position: relative;
    &:before{
      content: attr(data-count);
      display: block;
      background: @color-red;
      .border-radius(50%);
      width: 18px;
      height: 18px;
      position: absolute;
      top: -6px;
      left: 10px;
      .font-px-to-em(9);
      line-height: 1em;
      text-align: center;
      padding: 3px 0 0 0;
      color: @color-white;
      zoom: 1;
      z-index: 1;
    }
  }
  .title{
    padding:3px 20px;
  }
  .logout{
    cursor: pointer;
  }
}

