@import "config";

.content{
  position: relative;
}
.panel{
  &-gray{
    background: #f1f1f7;
  }
  padding:0 0 50px 0;
}

.login-success{
  padding:0 0 50px 0;
  .color-success{
    color:@color-blue;
  }
  .color-normal{
    color:@color-black;
  }
  h3{
    margin: 30px 0;
  }
}

.thick{
  display: table;
  background: @color-gray-ccc;
  width:140px;
  height:140px;
  .border-radius(50%);
  margin:0 auto 30px auto;
  span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color:@color-white;
    .font-px-to-em(100);
  }
}

.log-form{
  padding:50px 0 0 0;
  h3{
    margin:0 0 30px 0;
  }
  .list-group{
    .list-group-item{
      border-color:#e9e9e9;
    }
    &.list-group-sm{
      .list-group-item{
        padding: 5px 10px;
      }
    }
    input{
      border:0;
      box-shadow: none;
      width:100%;
      &:focus{
        outline:none;
        border:0;
        box-shadow:none;
      }
    }
  }
  .additonal{
    margin:30px 0;
  }
  .btn{
    width:100%;
  }
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{background: #fff;}
  ::-webkit-input-placeholder{color:@color-gray-ccc; .font-px-to-em(12);}
  ::-moz-placeholder{color:@color-gray-ccc; .font-px-to-em(12);}
  :-ms-input-placeholder {color:@color-gray-ccc; .font-px-to-em(12);}
}

.loader {
  position:absolute;
  top:0;
  left:0;
  height:3px;
  width:100%;
  .progressBar {
    position:absolute;
    width:100%;
    height:0;
    background-color:@color-white;
    &:before{
      content:"";
      position:absolute;
      right:50%;
      left:50%;
      height:3px;
      background-color: inherit;
    }
  }
  &.active{
    animation:changebar 2.25s infinite .75s;
    .progressBar{
      animation:changebar 2.25s infinite;
      &:before{
        animation:movingbar .75s infinite
      }
    }
  }
}